h1, h2, h3, h4, p, li {
  font-family: sans-serif;
  color: #444;
}

h1, h2, h3 {
  color: #0198ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-size: 20px;
}

/* footer p {
  font-size: 16px;
} */

/* article header p {
  font-style: italic;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

#Copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

/* ul {
  list-style: none;
} */

.related {
  list-style: none;
}

.main-header {
  background-color: #F7F7F7;
}

aside {
  background-color: #F7F7F7;
  border-top: 5px solid #0198ad;
  border-bottom: 5px solid #0198ad;
}

body {
  /* background-color: orangered; */
}